body {
    
    margin: 0;
    padding: 0;
    font-size: 15px;
  }
  nav {
    background-color: rgb(182, 235, 182);
    margin: 0;
    overflow: hidden;
  }
  nav ul {
    margin: 0;
    padding: 0;
    display: flex;
  }
  nav ul li {
    float: right;
  }
  nav ul li a {
    color: black;
    display: block;
    line-height: 3em;
    padding: 1em 3em;
    text-decoration: none;
  }
  nav ul li button {
    color: white;
    display: block;
    line-height: 3em;
    padding: 1em 3em;
    text-decoration: none;
  }
  li:first-child {
    float: left;
}
  nav ul li a.logo {
    background-color: green;
  }

.icons{
        
    padding: auto;
    width: 30px;
    height: 30px;
    
}
button {
    background-color: rgb(53, 226, 10);
    color: white;
    border-radius: 5px;
    border: 2px solid rgb(53, 226, 10);
 }

.navbar{
    display: flex;
}
.navbar .logo{
    display : flex;
}
.icons{
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
    width: 30px;
    height: 30px;
}
